/*
You can type here any CSS rule recognized by GTK+.
You can temporarily disable this custom CSS by clicking on the "Pause" button above.

Changes are applied instantly and globally, for the whole application.
*/

.puzzleGrid .button {
  margin:10px;
  color:black;
  font-size:0px;
  font-weight:bold;
  border-image:none;
}

.overlayBox {
  background-color:alpha (black, 0.8);
}

.playButton {
  padding: 24px;
}

.diff {
  border-image: none;
  font-size:large;
}
/*
.diff {
  border-image: none;
  background-color:alpha (white, 0.1);
  background-image:none;
  font-weight:normal;
  font-size:16px;
  color: white;
  border-width:0px;
}

.diff:active {
  background-color:alpha (white, 0.15);
  font-weight:bold;
}

.diff:hover {
  background-color:alpha (white, 0.13);
}
*/
.3x3 {
  border-radius:12px 0px 0px 12px;
}

.4x4 {
  border-radius:0px 12px 12px 0px;
}
